/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
/* @import "../vendor/css/font-awesome.css"; */
@import "../vendor/css/themify-icons.css";
@import "../vendor/css/bootstrap.css";
@import "../vendor/css/flaticon.css";
@import "../vendor/css/swiper.min.css";
@import "../vendor/css/owl.carousel.css";
@import "../vendor/css/odometer-theme-default.css";
@import "../vendor/css/nice-select.css";
@import "../vendor/css/owl.transitions.css";
@import "../vendor/css/odometer-theme-default.css";
@import "../vendor/css/jquery.fancybox.css";
@import "../vendor/css/slick.css";
/* @import "../vendor/css/slick-theme.css"; */
@import "../vendor/css/style.css";
@import "../vendor/css/sweetalert2.min.css";

/* This file is for your main application CSS */


h2.ig-title {
    font-size: 90px;
    font-weight: 500;
    color: #fff;
  }
  @media (max-width: 767px) {
    h2.ig-title {
      font-size: 40px;
    }
  }
  @media (max-width: 575px) {
    h2.ig-title {
      font-size: 40px;
    }
  }

.link-form {
    color: #5880a2;
    padding-bottom: 15px;
    position: relative;
    font-size: 16px;
}