<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · ">
      <%= assigns[:page_title] || "Landing" %>
    </.live_title>
    <meta name="description" content="¡Llegó el gran día! ¡Nos casamos! Eres una persona especial para nosotros y queremos que seas parte de esta celebración tan importante para nosotros" />
    <meta name="og:description" content="¡Llegó el gran día! ¡Nos casamos! Eres una persona especial para nosotros y queremos que seas parte de esta celebración tan importante para nosotros" />
    <meta name="image" content="https://ik.imagekit.io/jl7z41ynx/_ROB2599.jpg?updatedAt=1691256860870" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body >
    <!-- start preloader -->
       
    <%= @inner_content %>
  </body>
</html>
